.background{ /* responsive background */
    background-image: url(./images/tech-background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

aside{
    margin-top:40px;
    float: center;
    text-align: center;
}

.modal-title{
    color: black;
}



aside button{
    background-color: rgb(21, 221, 224);
}

/* sets image opacity to 50% */
.opacity img{ 
    opacity:0.5;

}

/* sets image opacity to 100 when hovered */
.opacity:hover img{
    opacity: 1;
}

.page-color{/*changing background color */
    background-color: #052f45f5;
    color: white;
}

.img-resize{
    width: 100%;
    height: 80%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/* title of each product */
figure > h5{
    text-align: center;
}

.center-form{
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-text{
    color:black;

}

.input{
    
}

.contact-form{
    background-color:rgb(115, 166, 185);
    padding: 20px;
    border-radius: 5px;
    max-width: 100%;
}

